@model MovieToGoFilm.Models.Film

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeSortie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDeSortie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fichier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fichier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDistributeurNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDistributeurNavigation.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdLangueNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLangueNavigation.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNationaliteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNationaliteNavigation.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSousTitreNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSousTitreNavigation.Nom)
        </dd>
    </dl>
</div>

<form asp-area="" asp-controller="Commentaire" asp-action="Index" method="get">
    <input type="hidden" value="@ViewBag.IdFilm" name="searchID">
    <input class="btn btn-primary" type="submit" value="Commentaire" />
</form>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFilm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
