@model MovieToGo.Models.Film

@{
    ViewData["Title"] = "Home Page";
}



    <style>
    .head {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.head video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.head .container {
  position: relative;
  z-index: 2;
}

.head .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


    </style>

<div class="head">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/movies/interstellar-waves-scene-1080p-hd.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">MovieToGo</h1>
                <p class="lead mb-0">The project of our life !</p>
            </div>
        </div>
    </div>
</div>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p class="d-flex justify-content-center">Choose your movie, take popcorns, sit comfortably and enjoy the moment thanks to MovieToGo !</p>
                <p class="d-flex justify-content-center">Films are added every day and we are available for any film proposal.</p>
                <p class="d-flex justify-content-center"><b>Random movie proposal</b></p>
                <a class="d-flex justify-content-center" asp-controller="Film" asp-action="Details" asp-route-id="@ViewBag.idFilm">@Html.DisplayFor(model => model.Nom)</a>
                <a class="d-flex justify-content-center" asp-controller="Film" asp-action="Details" asp-route-id="@ViewBag.idFilm"><img src="@ViewBag.pathFile" alt="@Html.DisplayFor(model => model.Nom)" width="20%"></a>
            </div>
        </div>
    </div>
</section>