@model MovieToGoFilm.Models.Commentaire

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Commentaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFilmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFilmNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Film">Back to List</a>

</div>
