@model IEnumerable<MovieToGo.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    <a asp-controller="Film" asp-action="Details" asp-route-id="@item.IdFilm">Details</a>
                </td>
                <td>
                    <button class="btn btn-primary" onclick="window.location.href='@item.Fichier';">
                        Télécharger
                    </button>
                </td>
            </tr>

            @ViewBag.userid
        }
    </tbody>
</table>
